.btns {
  padding: 10px;
  margin-bottom: 30px;
  text-align: right;
}

.btns a {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 12.5px;
  background-color: #eae0d5;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
}

.btns a:hover {
  color: #fff;
  background-color: #c6ac8f;
}
